@charset "utf-8";
$blue :    #2387f7;
$red :     #E63A29;
$border :  1px solid #EFEFEF;

// 类
@for $i from 1 through 3 {
  .flex#{$i} {
    flex: $i;
  }
}

// 混合
@mixin centerBox($alignV: center,$alignH: center,$display: flex){
  // 默认上下垂直居中
  display: $display;           // 只支持 flex 或 inline-flex
  justify-content: $alignV;
  align-items: $alignH;
}
